.navigation ul {
  display: flex;
  gap: var(--margin-6);
  justify-content: flex-end;
  /* transform: translateY(calc(var(--fs-2) * 0.15)); */
}

.navigation li {
  display: inline-flex;
}

.navigation button {
  all: unset;
  cursor: pointer;
}

.activeLink {
  color: var(--focus);
}
