.projectTitle {
  color: var(--foreground) !important;

  .categories {
    transform: translateY(calc(-0.3 * var(--fs-2)));
    margin-right: var(--margin-7);
  }
}

.projectCredits {
  .creditGroup {
    display: inline;
    overflow-wrap: anywhere;
    margin-right: var(--margin-6);

    .creditLead {
      display: inline-block;
      max-width: 100%;
      vertical-align: baseline;

      .creditRole {
        margin-right: var(--margin-7);
      }
    }
  }
}

.projectNavigation {
  display: flex;
  justify-content: space-between;
  gap: var(--margin);
  align-items: end;

  .projectNavigationLink {
    color: inherit;
    text-decoration: none;

    .projectNavigationLabel {
      margin-right: var(--margin-7);
    }
  }
}

.mediaCredit {
  text-align: right;

  .creditLead {
    display: inline-block;
    max-width: 100%;
    vertical-align: baseline;
  }
}
