.projectCredits {
  line-height: 0.7;
  text-transform: uppercase;

  .creditGroup {
    display: inline;
    overflow-wrap: anywhere;
    margin-right: var(--margin-6);
    margin-top: -2px;
    margin-bottom: -2px;

    .creditLead {
      display: inline-block;
      max-width: 100%;
      vertical-align: baseline;

      .creditRole {
        margin-right: var(--margin-7);
      }
    }
  }
}

.projectNavigation {
  display: flex;
  justify-content: space-between;
  gap: var(--margin);
  align-items: end;

  .projectNavigationLink {
    color: inherit;
    text-decoration: none;

    .projectNavigationLabel {
      margin-right: var(--margin-7);
    }
  }
}

.mediaCredit {
  text-transform: uppercase;
  text-align: right;

  .creditLead {
    display: inline-block;
    max-width: 100%;
    vertical-align: baseline;

    & span:first-child {
      margin-right: var(--margin-7);
    }
  }
}

@media screen and (max-width: 768px) {
  /* phones */
}

@media (max-height: 500px) and (orientation: landscape) {
  /* short landscape */
}

@media screen and (max-width: 1279px) {
  /* tablets */
}

@media screen and (min-width: 2560px) {
  /* large screens */
}
