.main {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  column-gap: var(--margin);
  row-gap: var(--margin);

  .portrait {
    grid-column: 1 / span 4;
    aspect-ratio: 5 / 3;
  }

  .aboutTextContainer {
    grid-column: 5 / 9;
    position: sticky;
    top: calc(var(--margin) + var(--header-height) + var(--margin));
    align-self: start;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: var(--content-height);

    .projectCredits {
      .creditContainer {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        grid-column-gap: var(--margin);

        .creditRole {
          grid-column: 1 / 2;
        }

        .creditEntries {
          grid-column: 2 / 4;
        }
      }
    }
  }

  .team {
    grid-column: 9 / 14;
    display: flex;
    flex-direction: column;
    gap: var(--margin-4);
  }
}
