.main {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  column-gap: var(--margin);
  row-gap: var(--margin);
}

.project {
  position: relative;
  width: 100%;
  height: auto;
  --project-background: #ff0000;
  overflow: hidden;
  display: grid;
  grid-column: span 2;

  .projectLink {
    position: relative;
    display: grid;
    aspect-ratio: var(--project-aspect-ratio);
    color: inherit;
    text-decoration: none;
    min-width: 0;

    .thumbnail,
    .projectInfo {
      grid-area: 1 / 1;
    }

    .thumbnail {
      width: 100%;
      height: 100%;
      transition: opacity 0.35s ease-in-out;
    }

    .projectInfo {
      position: absolute;
      inset: 0;
      box-sizing: border-box;
      opacity: 0;
      pointer-events: none;
      background-color: var(--project-background);
      text-transform: uppercase;

      padding: var(--margin);
      transition: opacity 0.35s ease-in-out;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}

.project:hover .projectInfo {
  opacity: 1;
  pointer-events: all;
}

.project:hover .thumbnail {
  opacity: 0;
  pointer-events: none;
}

.colorSampler {
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
  pointer-events: none;
}

@media screen and (max-width: 768px) {
  .project {
    grid-column: span 6;
  }
  /* phones */
}

@media (max-height: 500px) and (orientation: landscape) {
  /* short landscape */
}

@media screen and (min-width: 769px) and (max-width: 1020px) {
  /* tablets */
  .project {
    grid-column: span 4;
  }
}

@media screen and (min-width: 1021px) and (max-width: 1279px) {
  /* tablets */
  .project {
    grid-column: span 3;
  }
}

@media (pointer: coarse) {
  .project {
    .projectLink {
      .projectInfo {
        display: none;
      }
    }
  }

  .project:hover .thumbnail {
    opacity: 1;
    pointer-events: auto;
  }
}

@media screen and (min-width: 2560px) {
  /* large screens */
}
