.main {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  column-gap: var(--margin);

  .cover {
    display: block;
    width: 100%;
    grid-column: span 2;
    cursor: pointer;
    mix-blend-mode: multiply;
    filter: grayscale(1);
  }
}

/* only devices that actually support hover */
@media (hover: hover) and (pointer: fine) {
  .cover {
    &:hover {
      mix-blend-mode: normal;
      filter: none;
    }
  }
}

/* desktop is default */

@media screen and (max-width: 768px) {
  .main {
    .cover {
      grid-column: span 6;
    }
  }
  /* phones */
}

@media screen and (min-width: 769px) and (max-width: 1020px) {
  /* tablets */
  .main {
    .cover {
      grid-column: span 4;
    }
  }
}

@media screen and (min-width: 1021px) and (max-width: 1279px) {
  /* tablets */
  .main {
    .cover {
      grid-column: span 3;
    }
  }
}
