.main {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  column-gap: var(--margin);
}

.cover {
  display: block;
  width: 100%;
  grid-column: span 2;
  cursor: pointer;
  mix-blend-mode: multiply;
  filter: grayscale(1);
}

.cover:hover {
  mix-blend-mode: normal;
  filter: none;
}
