.main {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  column-gap: var(--margin);
  // row-gap: var(--margin);
}

.video {
  position: relative;
  width: 100%;
  height: auto;
  --project-background: #ff0000;
  overflow: hidden;
  display: grid;
  grid-column: span 4;
  padding: 0;
  border: 0;
  background-color: var(--project-background);
  color: inherit;
  cursor: pointer;
}

.thumbnail {
  grid-area: 1 / 1;
  transition: opacity 0.35s ease-in-out;
}

.video:hover .thumbnail {
  opacity: 0;
  pointer-events: none;
}

.colorSampler {
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
  pointer-events: none;
}
