.menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
  transform-origin: center;
  width: max-content;
  min-width: 0;
}

.menu ul {
  display: flex;
  gap: 10px;
}
