.menu {
  position: fixed;
  bottom: 0px;
  left: 0px;
  // width: 100%;
  padding: var(--margin);
  height: calc(var(--fs-3) + (2 * var(--margin)));
  width: calc(var(--fs-3) + (2 * var(--margin)));
  min-width: 0;
  z-index: 10;
  background: var(--background);
  transition: width 0.5s cubic-bezier(0.22, 1, 0.36, 1);
}
.menu.showMenu {
  width: 100%;
}

.menuButton {
  width: calc(var(--fs-3) * 1);
  height: calc(var(--fs-3) * 1);
  transition: transform 0.25s ease-in-out;
  cursor: pointer;

  z-index: 10;
  position: absolute;
}

.menuButton img {
  width: 30px;
  height: 30px;
}

.showMenu .menuButton {
  transform: rotate(45deg);
}

.menuAnimation {
  transform: translateY(calc(var(--fs-2) * 0.15));
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;

  padding: 0 var(--margin);

  .navigation {
    text-transform: uppercase;

    margin-top: calc(var(--margin) * -1);
    grid-column: 1 / -1;
  }

  .filters {
    margin-top: calc(var(--margin) * -1);
    display: flex;
    align-items: center;
    flex-direction: row;
    text-transform: uppercase;
    justify-content: flex-end;

    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: start;
      align-items: center;
    }

    li:not(.menuReturn, :last-of-type)::after {
      content: ",";
      margin-right: var(--margin-6);
    }

    .menuReturn {
      margin-right: var(--margin-6);
    }

    button {
      all: unset;
      transition: color 0.4s ease-in-out;
      cursor: pointer;
    }

    button:hover {
      color: var(--focus);
    }

    .selectedFilter {
      color: var(--focus);
    }
  }
}
