.logoContainer {
  width: 100vw;
  height: calc(var(--fs-3) + (var(--margin) * 2));
  color: var(--foreground);

  position: fixed;
  left: 0;
  top: 0 !important;

  z-index: 2;
  pointer-events: none;
  // margin-top: var(--margin);
  background: var(--background);
  padding: var(--margin) 0;
}

.logoLetterWrapper {
  position: absolute;
  top: var(--margin);
  height: var(--fs-3);
  pointer-events: auto;
  transition: left 1s cubic-bezier(0.22, 1, 0.36, 1);
}

.isAnimating {
  pointer-events: none;
}

.logoLetter {
  width: auto;
  height: var(--fs-3);
  max-width: none;
  flex: 0 0 auto;
}
