.main {
  --main-grid-track: minmax(0, 1fr);
  --main-grid-special-track: minmax(0, 0.37fr);

  display: grid;
  grid-template-columns:
    repeat(8, var(--main-grid-track))
    var(--main-grid-special-track)
    repeat(4, var(--main-grid-track));
  column-gap: var(--margin);
  row-gap: var(--margin);

  .contactTextContainer {
    grid-column: 10 / 14;
  }
}
