:root {
  --fs-2: clamp(2.4rem, 1.824rem + 0.678vw, 2.8rem);
  --lh-2: 2.8rem;
  --ls-2: 0;
  --ps-2: 0rem;

  /* --fs-3: 2.2rem; */
  --fs-3: clamp(1.65rem, 1.074rem + 0.678vw, 2.05rem);
  --lh-3: clamp(1.8rem, 1.224rem + 0.678vw, 2.2rem);
  --ls-3: 0;
  --ps-3: 0rem;

  --fs-4: 1.35rem;
  --lh-4: 1.45rem;
  --ls-4: 0;
  --ps-4: 0rem;

  --fs-5: 0.9rem;
  --lh-5: 1;
  --ls-5: 0;
  --ps-5: 0rem;
}

@font-face {
  font-family: "MaisonNeue";
  src: url("../../public/fonts/MaisonNeue-Book.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MaisonNeue";
  src: url("../../public/fonts/MaisonNeue-Demi.otf") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

[typo~="title"] {
  font-family: "MaisonNeue", Arial, Helvetica, sans-serif;
  font-size: var(--fs-2);
  line-height: var(--lh-2);
  letter-spacing: var(--ls-2);
}

[typo~="title"] p {
  font-family: "MaisonNeue", Arial, Helvetica, sans-serif;
  margin-bottom: var(----ps-2);
}

[typo~="body"] {
  font-family: "MaisonNeue", Arial, Helvetica, sans-serif;
  font-size: var(--fs-3);
  line-height: var(--lh-3);
  letter-spacing: var(--ls-3);
}

[typo~="body"] p {
  font-family: "MaisonNeue", Arial, Helvetica, sans-serif;
  margin-bottom: var(----ps-3);
}

[typo~="tag"] {
  font-family: "MaisonNeue", Arial, Helvetica, sans-serif;
  font-size: var(--fs-4);
  line-height: var(--lh-4);
  letter-spacing: var(--ls-4);
}

[typo~="tag"] p {
  font-family: "MaisonNeue", Arial, Helvetica, sans-serif;
  margin-bottom: var(----ps-4);
}

[typo~="label"] {
  font-family: "MaisonNeue", Arial, Helvetica, sans-serif;
  font-size: var(--fs-5);
  line-height: var(--lh-5);
  letter-spacing: var(--ls-5);
  text-transform: uppercase;
  display: inline-block;
}

[typo~="shift"] {
  transform: translateY(calc(-0.17 * var(--fs-4)));
}

[typo~="label"] p {
  font-family: "MaisonNeue", Arial, Helvetica, sans-serif;
  margin-bottom: var(--ps-5);
}

/* Font Compensation */
[typo~="label"][typo~="compensate-top"] {
  --h3-overshoot: 0.18em;
  margin-top: calc(var(--h3-overshoot) * -1);
}

[typo~="label"][typo~="compensate-bottom"] {
  --h3-undershoot: 0.15em;
  margin-bottom: calc(var(--h3-undershoot) * -1);
}

[typo~="body"][typo~="compensate-top"] {
  --h2-overshoot: 0.12em;
  margin-top: calc(var(--h2-overshoot) * -1);
}

[typo~="body"][typo~="compensate-bottom"] {
  --h2-undershoot: 0.15em;
  margin-bottom: calc(var(--h2-undershoot) * -1);
}

@media screen and (max-width: 768px) {
  :root {
    --fs-3: 1.8rem;
    --lh-3: 1;
    --ls-3: 0;
    --ps-3: 0rem;
  }
}
