:root {
  --background: #fff;
  --foreground: #0a0a0a;

  --margin-1: 200px;
  --margin-2: 135px;
  --margin-3: 60px;
  --margin-4: 40px;
  --margin-5: 25px;
  --margin-6: 10px;
  --margin-7: 5px;
  --margin-debug-1: #2ee844;
  --margin-debug-2: #e12ee8;
  --margin-debug-3: #e82e4b;
  --margin-debug-4: #ff9d00;
  --margin-debug-5: #e8fd1c;
  --margin-debug-6: #e8842e;
  --margin-debug-7: #0a00ff;

  --margin: var(--margin-7);

  --viewport-height: 100vh;
  --shell-height: calc(var(--viewport-height) - (2 * var(--margin)));
  --content-width: calc(100vw - 2 * var(--margin));

  --header-height: var(--fs-3);
  --menu-height: calc(var(--fs-3) + (2 * var(--margin)));

  --content-height: calc(var(--viewport-height) - (3 * var(--margin)) - var(--header-height));

  --opacity: 0.4;
  --transtition: 0.4s ease-in-out;
}

@supports (height: 100dvh) {
  :root {
    --viewport-height: 100dvh;
  }
}

[data-theme="light"] {
  --background: #fff;
  --foreground: #0a0a0a;
  --focus: #b4ff00;
}

[data-theme="yellow"] {
  --background: #b4ff00;
  --foreground: #0a0a0a;
  --focus: #eeeeee;
}

::selection {
  background: var(--focus);
  color: #0a0a0a;
}

[data-theme="yellow"] ::selection {
  background: #0a0a0a;
  color: var(--focus);
}

*,
*::-webkit-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html,
body {
  max-width: 100vw;
  overscroll-behavior: none;
  font-size: 10px;
  line-height: 1;
  overscroll-behavior: none;
  overflow-anchor: none;

  font-family: "MaisonNeue", Arial, Helvetica, sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html[data-route="not-found"] {
  --background: #0a0a0a;
  --foreground: #fff;
}

html[data-route="not-found"],
html[data-route="not-found"] body {
  height: 100%;
  overflow: hidden;
}

main {
  background: transparent;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.page {
  position: relative;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
  padding: 0;
  margin: 0;
}

button {
  all: unset;
}

.pageTransitionRoot {
  display: grid;
}

.pageTransition {
  grid-area: 1 / 1;
  min-width: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:focus,
a:focus-visible,
button:focus,
button:focus-visible {
  outline: none;
  box-shadow: none;
}

a:hover,
button:hover {
  cursor: pointer;
  color: var(--focus);
}

ul,
li {
  text-decoration: none;
  list-style: none;
}

/* desktop is default */

@media screen and (max-width: 768px) {
  /* phones */
}

@media (max-height: 500px) and (orientation: landscape) {
  /* short landscape */
}

@media screen and (max-width: 1279px) {
  /* tablets */
}

@media screen and (min-width: 2560px) {
  /* large screens */
}
