header.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  text-box-trim: trim-both;

  height: fit-content;

  line-height: 1;

  nav {
    text-box-trim: trim-both;
  }
}

header.header::before {
  content: "";
  top: calc(var(--margin) * -1);
  left: 0;
  height: calc(var(--header-height) + (var(--margin) + 12px));
  width: 100%;
  z-index: -1;
  background: linear-gradient(to bottom, var(--background) 0%, var(--background) 20%, transparent 100%);
  position: absolute;
}

.activeLink {
  color: var(--focus);
}
