header.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  text-box-trim: trim-both;

  height: fit-content;

  line-height: 1;

  nav {
    text-box-trim: trim-both;
  }
}

.activeLink {
  color: var(--focus);
}
